* {
    margin: 0;
    padding: 0;
}

.articles-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.article {
    box-sizing: border-box;
    background-color: bisque;
    margin: 8px;
    padding: 16px;
    min-width: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}