.header {
    display: flex;
    justify-content: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex-shrink: 0;
    flex-grow: 1;
    width: 268px;
    background-color: bisque;
    margin: 8px;
    padding: 16px;
    text-align: left;
}