.header {
    display: flex;
    justify-content: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 1 300px;
    width: 300px;
    background-color: bisque;
    margin: 8px;
    padding: 16px;
}