* {
    margin: 0;
}

.gallery {
    display: flex;
}

.image {
    height: 198px;
    width: 198px;
    margin: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    border: 1px dotted #808080;
}