* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.footer {
    height: 40px;
    background-color: green;
    display: flex;
}

.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navigation__item {
    margin-left: 16px;
}

.footer__text {
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
}

.dashbord {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news {
    width: 200px;
    background-color: gray;
}

.news__text {
    display: flex;
    margin: 16px;
    justify-content: space-around;
}

.news__item {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 16px;
    line-height: 40px;
    justify-content: space-around;
}