.rectangle {
    box-sizing: border-box;
    border: 2px solid black;
    padding: 50px 50px;
}

.rectangle1 {
    margin: 50px 50px;
    background-color: blue;
}

.rectangle2 {
    background-color: yellow;
}

.rectangle3 {
    background-color: green;
}

.rectangle4 {
    background-color: pink;
}